@media screen and (max-width: 1280px) {
  .home-hero_container {
    width: 36.2500vw;
    height: 51.7969vw;
    margin-bottom: 6.0938vw;
  }
  .home-hero__text {
    .text {
      margin-bottom: 1.0938vw;

      p {
        font-size: 2.1875vw;
      }

      span {
        font-size: 3.9063vw;
      }
    }
  }
  .home-logo {
    width: 21.7188vw;
    height: 8.5938vw;
    margin-bottom: 2.1875vw;
  }
  .home-hero__bottom {
    p {
      font-size: 1.5625vw;
      line-height: 2.0313vw;
    }
  }
  .home-select-lang {
    margin-top: 1.6406vw;
    margin-bottom: 4.0625vw;

    a {
      width: calc((100% / 3) - ((1.0156vw * 2) / 3));
      margin-right: 1.0156vw;
      height: 3.9063vw;
      font-size: 1.4063vw;
      line-height: 1.8750vw;
    }
  }
  .home-socials {
    a {
      width: 2.1875vw;
      height: 2.1875vw;
      margin-right: 0.9375vw;
    }
  }
}

@media screen and (max-width: 992px) {
  .text-section--estate .section-text {
    padding-#{$start-direction}:20px;
    max-width: none;
  }
  .single-work .text ul li::after {
    width: 4px;
    height: 4px;
  }
  .single-work .text ul li {
    color: #49728A;
  }
  .news-blocks .partners-single .text ul li {
    font-size: 1.8229vw;
  }

  .footer-socials {
    margin-top: 5.2083vw;

    a {
      width: 3.2552vw;
      height: 3.2552vw;
      margin-#{$end-direction}: 1.3021vw;
    }
  }
  //to mob
  .modal-position .close-modal {
    right: 24px;
    left: auto;
  }
  .modal-position .modal-container {
    height: 100%;
    max-width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;

    .container {
      overflow-y: auto;
    }

    .modal-content {
      height: auto;
    }

  }
  .modal-pos__head {
    padding: 4.8177vw 20px 4.6875vw;

    span {
      font-size: 3.6458vw;
      line-height: 4.8177vw;
      margin-bottom: 3px;
    }

    p {
      font-size: 2.3438vw;
    }
  }
  .modal-pos__content {
    flex-direction: column;

    .block {
      padding: 4.5573vw 2.8646vw;
    }

    form {
      width: 43.0990vw;
      margin: 0 auto;

      .btn {
        height: 6.5104vw;
      }

      input, label.file-upload {
        height: 6.5104vw;
        margin-bottom: 1.3021vw;
        padding-#{$end-direction}: 2.9948vw;
        padding-#{$start-direction}: 2.9948vw;
        font-size: 2.0833vw;

        &::placeholder {
          font-size: 2.0833vw;
        }
      }
    }

    .img {
      width: 100%;
      height: 0;
      padding-top: 100%;
      box-sizing: border-box;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  //to mob
  .modal-content {
    padding: 5.5990vw 2.8646vw;
  }
  .modal-info {
    flex-direction: column;

    .title {
      margin-bottom: 23px;

      img {
        height: 5.3385vw;
        margin-#{$end-direction}: 2.8646vw;
      }

      span {
        font-size: 2.8646vw;
        line-height: 3.7760vw;
      }
    }

    .text {
      width: 100%;

      p {
        font-size: 2.3438vw;
        max-width: none;
        margin-bottom: 3.6458vw;
      }
    }

    .btn.btn--line.btn--line--orange {
      margin-#{$start-direction}: 3vw;
    }

    .name {
      margin-top: 7.8125vw;
      margin-bottom: 3.7760vw;

      span {
        font-size: 2.8646vw;
        line-height: 3.7760vw;
      }
    }

    .list {

    }

    .item {
      width: 22.1354vw;

      .img {
        height: 22.1354vw;
      }
    }

    .info {
      p {
        font-size: 2.6042vw;
        line-height: 3.7760vw;
      }

      ul {
        margin-top: 4px;

        li {
          font-size: 2.0833vw;
          line-height: 2.9948vw;
        }
      }
    }

    .content {
      width: 100%;
      margin: 0;
      padding-#{$start-direction}: 30px;
    }

    .left {
      width: 100%;
      margin: 0;
      max-width: none;
    }
  }
  //to mob
  .modal-content .close-modal {
    top: 24px;
    #{$end-direction}: 24px;
    width: 21px;
    height: 21px;

    img {
      width: 18px;
      height: 18px;
    }
  }
  .modal-container {
    width: 100%;
    height: 100%;

    .container {
      padding: 0;
      height: 100%;
      width: 100%;
    }

    .modal-content {
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
  }
  .header.header--contacts-us .header__search-btn {
    background: rgba(255, 255, 255, 0);
  }
  .contact-us {
    padding-bottom: 0;
  }
  //to mob
  .map-bg {
    overflow: hidden;
  }
  .map-container {
    bottom: 85.1563vw;
    top: auto;
    left: 5.4688vw;
    width: 88.9323vw;
    height: 57.2917vw;
  }
  .map-dot {
    width: 10px;
    height: 10px;
  }

  //to mob
  .form-footer {
    margin-top: 2.6042vw;

  }
  .form-checkbox span {
    font-size: 2.0833vw;

    &::before {
      width: 2.6042vw;
      height: 2.6042vw;
      margin-#{$end-direction}: 1.6927vw;
    }
  }

  .form-checkbox input:checked + span::before {
    background-size: 1.8229vw;
  }
  .form-footer .btn.btn--no {
    width: 29.8177vw;
  }
  //to mob

  .contact-us__form {
    margin-top: 73.1771vw;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;

    padding: 5.8594vw 2.6042vw 7.1615vw;

    .title {
      span {
        font-size: 2.8646vw;
        line-height: 3.7760vw;
        margin-bottom: 0.9115vw;
      }

      p {
        font-size: 2.3438vw;
      }
    }

    form {
      margin-top: 5.2083vw;
      width: 100%;

      input {
        height: 6.5104vw;
        margin-bottom: 3.2552vw;
        padding-#{$start-direction}: 2.9948vw;
        font-size: 2.0833vw;

        &::placeholder {
          font-size: 2.0833vw;
        }
      }

      textarea {
        font-size: 2.0833vw;
        height: 26.9531vw;
        padding-#{$start-direction}: 2.9948vw;

        &::placeholder {
          font-size: 2.0833vw;
        }
      }
    }

  }

  //to mob

  .contacts-us__content .title {
    span {
      font-size: 4.6875vw;
      margin-bottom: 3.2552vw;
    }

    p {
      font-size: 2.3438vw;
      max-width: 36.8490vw;
    }
  }
  .contact-us__tabs {
    margin-top: 3.3854vw;
  }
  .contact-us__single-tab {
    padding-#{$start-direction}: 4.6875vw;

    p {
      font-size: 2.3438vw;
      margin-bottom: 0.7813vw;

      strong {

      }
    }

    &::before {
      top: 0.6vw;
      width: 2.3438vw;
      height: 2.8646vw;
    }

  }
  //to mob
  main.main--contact-us.not-home-page {
    padding-top: 35px;

    .hero-breadcrumbs {
      padding-#{$start-direction}: 0;
    }

    .breadcrumbs {
      margin-bottom: 12px;

      li {
        &:first-child {
          color: #49728A;
          border-color: #49728A;
        }
      }
    }

    .breadcrumbs li a, .breadcrumbs li span {
      color: #CA4B03;
      border-color: #CA4B03;

    }
  }

  .contact-us__container {
    padding: 0;
  }
  .text-section--search {
    .container {
      padding: 0;
    }

    .section-text {
      max-width: none;
    }
  }
  //to mob
  .results-list {
    width: 100%;

    & > span {
      display: none;
    }

    .header__search {
      position: static;

      margin-bottom: 10.4167vw;

      input {
        height: 5.7292vw;
        font-size: 2.6042vw;

        &::placeholder {
          font-size: 2.6042vw;
        }
      }
    }

    .header__search-btn {
      height: 5.7292vw;
      width: 5.7292vw;

      img {
        width: 1.9531vw;
        height: 1.9531vw;
      }
    }
  }
  .single-result {
    margin-top: 5.7292vw;

    .btn {
      max-width: none;
      padding: 0 3.9063vw;
      margin-top: 3.9063vw;
    }

    span {
      font-size: 2.8646vw;
      margin-bottom: 1.9531vw;
    }

    p {
      font-size: 2.6042vw;
    }
  }
  //to mob
  .text-section--little .section-text {
    max-width: none;
    padding-bottom: 7.8125vw;

    .title {
      span {
        max-width: none;
      }
    }
  }
  .text-section--little {
    margin-bottom: 0;
  }
  .hero-bg__block.js-slider.js-slider--soc {
    max-width: none;

    .slider-cont {
      #{$end-direction}: 20px;
      bottom: 22.1354vw;
      #{$start-direction}: auto;
    }
  }
  .text-section--social {
    .container {
      padding: 0;
    }
  }
  .text-section--social .section-text {
    padding-left: 20px;
    padding-right: 20px;
    max-width: none;
    padding-bottom: 0;

    .title {
      span {
        max-width: none;
      }
    }
  }
  .section-text .title span {

  }
  //to mobile
  .breadcrumbs {
    flex-wrap: wrap;
  }
  .pos-soc-link {
    bottom: -5.5990vw;
    width: 36.8490vw;
    height: 13.0208vw;
    font-size: 2.3438vw;
  }
  .section-text .side {
    position: static;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding: 50px 23px 100px;

    span {
      font-size: 2.6042vw;
      margin-bottom: 2.8646vw;
    }

    ul {
      margin-bottom: 2.6042vw;

      li {
        font-size: 2.3438vw;
        max-width: none;
        margin-bottom: 0.9115vw;
      }
    }

    em {
      font-size: 2.3438vw;
      margin-top: 2.3438vw;
    }

    p {
      font-size: 2.3438vw;
    }
  }
  //to mobile
  .single-work {
    width: calc(50% - 15px);

    .text {
      padding: 3.2552vw 1.8229vw;

      span {
        font-size: 3.1250vw;
        line-height: 4.0365vw;
        max-width: 24.6094vw;
        margin-bottom: 1.4323vw;
      }

      ul {
        li {
          font-size: 2.0833vw;
          line-height: 2.7344vw;
          padding-#{$end-direction}: 8px;
          margin-#{$end-direction}: 8px;
        }
      }

      p {
        margin-top: 2.2135vw;
        height: 3.6458vw;
        padding: 0 1.4323vw;
        font-size: 2.0833vw;
        line-height: 2.7344vw;
      }
    }

    margin-#{$end-direction}: 30px;

    &:nth-child(3n) {
      margin-#{$end-direction}: 30px;
    }

    &:nth-child(even) {
      margin-#{$end-direction}: 0;
    }
  }


  .text-section--media .section-text {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;

    .title {
      span {
        max-width: none;
      }
    }
  }
  .section-text__filter {
    #{$end-direction}: 20px;
    top: 5.8594vw;
  }

  .nice-select {
    width: 40.3646vw;

    .current {
      height: 11.3281vw;
      padding: 0 3.9063vw;
      font-size: 2.6042vw;

      &::after {
        width: 12px;
        height: 6px;
      }
    }

    ul {
      background: white;
      z-index: 2;

      li {
        height: 9.1146vw;
        font-size: 2.6042vw;
        padding: 0 4.2969vw;
        line-height: 3.3854vw;
      }
    }
  }

  .news-blocks, .text-section--media .news-blocks {
    margin-top: 60px;
  }
  .pagination-container {
    max-width: none;
    margin-top: 71px;
  }

  .pagination {
    ul {
      li {
        display: none;

        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:last-child {
          display: flex;
          width: 43px;
          height: 43px;

          a, span {
            font-size: 16px;
            line-height: 21px;
          }

        }

        &:first-child, &:last-child {
          &::after {
            width: 8px;
            height: 8px;
          }
        }
      }
    }
  }
  .news-blocks .partners-single {
    width: 40.3646vw;
    margin-#{$start-direction}: 40px;
    margin-#{$end-direction}: 0;
    margin-bottom: 60px;

    &:nth-child(3n+1) {
      margin-#{$start-direction}: 40px;
    }

    &:nth-child(odd) {
      margin-#{$start-direction}: 0;
    }

    .img {
      height: 26.0417vw;
    }

    .text {
      padding: 0;

      span {
        font-size: 2.8646vw;
        line-height: 3.7760vw;
        margin-bottom: 2.8646vw;
        max-width: 33.8542vw;
      }
    }
  }

  .hero-bg__block::after {
    height: 148px;
  }
  .partners {
    .bg {
      display: none;
    }
  }
  .personal-container {
    padding-top: 0;
    padding-bottom: 45px;

    .partners-list {
      margin-top: 60px;
      padding: 0;
      justify-content: flex-start;

      .partners-single {
        width: 19.9219vw;
        margin: 0;
        margin-bottom: 60px;
        margin-#{$end-direction}: 3.1250vw;

        .img {
          height: 19.9219vw;
        }

        .text {
          span {
            font-size: 2.8646vw;
            line-height: 4.1667vw;
          }
        }
      }
    }
  }
  .partners-container {
    margin-top: 100px;
    margin-bottom: 50px;

  }
  .partners-list {
    margin-top: 24px;
    padding: 0 30px;
    justify-content: space-between;
  }

  .partners-single {
    width: 34.8958vw;
    margin: 0;
    margin-bottom: 6.5104vw;

    .img {
      height: 34.8958vw;
      margin-bottom: 1.9531vw;
    }

    .text {
      span {
        font-size: 3.6458vw;
        line-height: 5.3385vw;
        margin-bottom: 0.9115vw;
      }

      ul {
        li {
          font-size: 2.0833vw;
          line-height: 2.9948vw;
          padding: 0 0;
          padding-#{$end-direction}: 10px;
          margin-#{$end-direction}: 0;

          &::after {
            width: 4px;
            height: 4px;
          }
        }
      }
    }
  }


  .about-text {
    margin-top: 100px;
  }


  .about-text__single {
    width: 100%;
    margin-bottom: 7.8125vw;

    &:last-child {
      margin-bottom: 0;
    }

    padding-#{$end-direction}: 0;
    padding-#{$start-direction}: 20px;

    &::before {
      height: 117px;
    }

    span {
      font-size: 5.9896vw;
      margin-bottom: 3.9063vw;
    }

    br {
      display: none;
    }

    p {
      font-size: 2.3438vw;
    }
  }

  .contacts-info-text {
    top: calc(100% + 11.4583vw);
    #{$end-direction}: auto;
    #{$start-direction}: 0;

    &.mob-only {
      display: flex;
    }

    span {
      font-size: 2.0833vw;
      line-height: 2.9948vw;
      margin-bottom: 1.6927vw;
    }

    a, p {
      font-size: 2.3438vw;
      margin-bottom: 1.4323vw;

      &::before {
        width: 1.9531vw;
        height: 1.9531vw;
        margin-#{$end-direction}: 1.9531vw;
      }
    }
  }
  .hero-bg__block.min-img {
    max-width: 100%;

    &::before {
      z-index: 2;
      display: inline-block;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 28.7760vw;
      background: linear-gradient(180.96deg, rgba(0, 2, 3, 0.92) -54.96%, rgba(0, 10, 20, 0) 90.93%);
      mix-blend-mode: normal;
      content: '';
      transform: rotate(-180deg);
    }
  }
  .text-section {
    .container {
      padding-#{$start-direction}: 0;
    }

  }
  .contacts-info-text {
    position: static;
    margin-top: 11.4583vw;
  }
  .section-text {
    max-width: none;
    padding: 5.8594vw 20px;

    &--bordered {
      padding-bottom: 8.5938vw;

      .text {
        padding: 0;
        border: none;

      }
    }

    .person-sign {
      #{$end-direction}: 0;
      bottom: -5.0781vw;
      width: 30.7292vw;
      height: 10.9375vw;
    }

    .title {
      margin-bottom: 3.9063vw;

      span {
        font-size: 4.6875vw;
        max-width: 23.4375vw;

      }

      p {
        margin-top: 1.1719vw;
        font-size: 2.3438vw;
      }
    }

    > .text {
      margin-bottom: 3.9063vw;

      br {
        display: none;
      }

      p {
        font-size: 2.3438vw;
      }

      em {
        margin-top: 3.9063vw;
        font-size: 2.3438vw;
      }

      span {
        font-size: 2.0833vw;
        line-height: 2.7344vw;
        margin-bottom: 1.0417vw;
      }

      ul {
        li {
          padding-#{$start-direction}: 3.9063vw;
          font-size: 2.3438vw;
          margin-bottom: 1.0417vw;

          &::before {
            top: 2.0833vw;
          }
        }
      }
    }
  }
  .hero-breadcrumbs {
    padding-#{$start-direction}: 20px;
  }
  .breadcrumbs {
    margin-bottom: 1.8229vw;

    li {
      margin-#{$end-direction}: 1.3021vw;

      a, span {
        color: #FFFFFF;
        font-size: 1.8229vw;
        line-height: 2.3438vw;
        border-color: $white;
      }

      a {
        padding-#{$end-direction}: 1.3021vw;
      }

    }
  }
  main.not-home-page {
    padding-top: 35.1771vw;

    .hero-block {
      height: 47.1354vw;

      .container {
        padding: 0;
      }

    }

    .hero-bg__block.big-img {
      max-width: 100%;

      &::before {
        z-index: 2;
        display: inline-block;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 28.7760vw;
        background: linear-gradient(180.96deg, rgba(0, 2, 3, 0.92) -54.96%, rgba(0, 10, 20, 0) 90.93%);
        mix-blend-mode: normal;
        content: '';
        transform: rotate(-180deg);
      }
    }
  }

  //footer
  .footer__top {
    padding-top: 7.5521vw;
    padding-bottom: 13.0208vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer-logo {
    width: 16.2760vw;
    height: 6.5104vw;
    align-self: center;
    margin-bottom: 9.7656vw;
  }
  .footer-menus {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer-menu {
    width: calc(100% / 3);
    margin: 0;
    margin-#{$end-direction}: 0 !important;;
    margin-bottom: 0;
    //margin-bottom: 5.7292vw;

    ul {
      margin-top: 0;
      padding-top: 1.9531vw;

      li {
        margin-bottom: 2.6042vw;

        &.footer-loc img {
          height: 1.9531vw;
          margin-#{$end-direction}: 1.3021vw;
        }

        &.footer-tel img {
          height: 1.9531vw;
          margin-#{$end-direction}: 1.3021vw;
        }

        &.footer-email img {
          height: 1.9531vw;
          margin-#{$end-direction}: 1.6927vw;
        }

        a, p {
          font-size: 2.0833vw;
        }
      }
    }

    span {
      font-size: 2.6042vw;
      line-height: 3.3854vw;
    }
  }
  .footer__bottom {
    padding-top: 4.5573vw;
    padding-bottom: 7.0313vw;
  }
  .footer-copy {
    .img {
      width: 6.9010vw;
      height: 1.9531vw;
      margin-#{$start-direction}: 0.7813vw;
    }

    p {
      font-size: 2.0833vw;

      img {
        width: 1.9531vw;
        height: 1.9531vw;
        margin: 0 0.9115vw;
      }
    }
  }

  //footer
  .btn-go-down {
    display: none;
  }
  .text-under-slider {
    margin-top: 13.1510vw;
  }
  .text-slides {
    max-width: none;
    width: 100%;
    @for $i from 1 through 9 {
      &.text-slides--#{$i} {
        transform: translate(calc(-1 * (#{$transform-direction} * (#{$i} * 35.8073vw))), 0);
      }
    }
  }
  .single-text-slide {
    flex-direction: column;
    width: 35.8073vw;
    padding-#{$end-direction}: 1.6927vw;

    p {
      font-size: 2.6042vw;
    }

    span {
      font-size: 8.4635vw;
    }
  }
  main {
    padding-top: 75.6510vw;
  }
  .hero-block {
    height: 75.6510vw;
  }
  .hero-bg {

  }
  .hero-btn {
    bottom: 11.5885vw;
    #{$end-direction}: 52.5333vw;
    z-index: 4;
  }
  .btn.btn--line {
    width: 18.2292vw;
    height: 6.5104vw;
    font-size: 2.3438vw;

    &::after {
      width: 3.9063vw;
      #{$end-direction}: calc(100% - 1.625vw);
    }
  }
  .single-slide {
    .text {
      #{$end-direction}: auto;
      #{$start-direction}: 0;
      width: 43.3594vw;
      height: 32.5521vw;
      bottom: 8.3333vw;
      padding: 3.3854vw 0.9115vw;

      &.text--gold {
        justify-content: flex-start;
      }

      p {
        font-size: 4.8177vw;
      }
    }
  }
  .bg-lines-cont {
    .container {
      padding: 0;
      max-width: 32.5521vw;

    }
  }
  .bg-lines {
    .line {
      display: none;

      &:nth-child(1), &:nth-child(2) {
        display: block;
      }
    }
  }
  .hero-bg__block.js-slider {
    max-width: 76.5333vw;
  }
  .container-left {
    padding-#{$start-direction}: 20px;

    br {
      display: none;
    }
  }
  .hero-bg {
    .container {
      padding-#{$end-direction}: 0;
    }
  }
  .container {
    padding: 0 20px;
  }
  .swiper-arrow {
    width: 7.2917vw;
    height: 7.2917vw;

    &::after {
      width: 1.5625vw;
      height: 1.5625vw;
    }
  }
  .container-sec {
    max-width: none;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .values {
    margin-top: 13.1510vw;

    span {
      font-size: 4.4271vw;
    }

    p {
      margin-top: 3.3854vw;
      font-size: 4.5573vw;
    }
  }
  .news {
    margin-top: 13.1510vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .news-aside, .partners-aside, .personal-aside {
    position: static;
    order: 1;
    height: 13.0208vw;
    width: 26.0417vw;
    padding: 1.3021vw 2.6042vw;
    margin-bottom: 1.5625vw;

    .text {
      transform: none;
      width: 100%;
      height: 100%;
      position: static;
      padding-top: 0;
      align-items: flex-end;
      justify-content: flex-end;
    }

    p {
      position: static;
      transform: none;
      font-size: 3.9063vw;
      direction: ltr;
    }
  }
  .partners-aside {
    height: 13.0208vw;
    width: 24.7396vw;
  }
  .personal-aside {
    height: 13.0208vw;
    width: 24.7396vw;
  }
  .news-container {
    order: 2;
    padding: 0;
  }
  .single-news {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;

    > .btn {
      order: 3;
      margin-top: 1.6927vw;
    }
  }
  .mailing {
    margin: 100px 0 0;

    .container {
      padding: 0;
    }
  }
  .mailing-container {
    padding: 8.2031vw 2.6042vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    > p {
      font-size: 3.9063vw;
      line-height: 5.0781vw;
      margin-bottom: 5.2083vw;

      &::after {
        width: 9.7656vw;
        height: 1.1719vw;
        margin-#{$start-direction}: 5.2083vw;
      }
    }
  }
  .mailing-form {
    input {
      width: 30.4688vw;
      height: 6.5104vw;
      font-size: 2.3438vw;
      border-#{$end-direction}: none;
      padding-#{$start-direction}: 2.7344vw;

      &::placeholder {
        font-size: 2.3438vw;
      }
    }
  }
  .btn.btn--no {
    width: 12.5000vw;
    height: 6.5104vw;
    font-size: 2.3438vw;
  }
  .video-block {
    width: 100%;
    height: 60.2667vw;

    &::after {
      background: linear-gradient(0deg, rgba(214, 78, 0, 0.78) 19.17%, rgba(0, 0, 0, 0) 125.24%);

    }

    &::before {
      width: 5.2083vw;
      height: 5.2083vw;
    }
  }
  .news-video {
    order: 1;
  }
  .news-banner {
    order: 2;
    position: static;
    width: calc(100% - 20px);
    margin-top: -3.1250vw;
    padding: 4.1667vw 2.9948vw 6.3802vw 3.9063vw;

    .date {
      font-size: 2.0833vw;
      margin-bottom: 3.9063vw;
    }

    p {
      font-size: 2.3438vw;
      margin-bottom: 3.9063vw;
      max-width: none;
    }

    span {
      font-size: 3.3854vw;
      line-height: 4.4271vw;
      margin-bottom: 3.2552vw;
    }

    .btn {

      margin-#{$start-direction}: 2.4740vw;
    }
  }
  .news .swiper-controls {
    z-index: 4;
    #{$end-direction}: 2.6042vw;
  }
  .btn.btn--line.btn--line--orange {
    width: 18.2292vw;
    margin-#{$start-direction}: 5.2083vw;
  }
  .knowledge {
    margin-top: 14.7135vw;
  }
  .knowledge__bottom {
    margin-top: 4.5573vw;
    margin-bottom: 6.7708vw;
  }
  .knowledge-list {
    @for $i from 1 through 12 {
      &.knowledge-list--#{$i} {
        transform: translate(calc(-1 * (#{$transform-direction} * (#{$i} * 35.9375vw))), 0);
      }
    }
  }
  .single-knowledge {
    width: 29.4271vw;
    padding-bottom: 6.5104vw;
    margin-#{$end-direction}: 6.5104vw;
    padding-#{$start-direction}: 3.1250vw;

    .icon {
      height: 4.4271vw;
      margin-bottom: 2.2135vw;
    }

    p {
      margin-bottom: 4.1667vw;
      font-size: 2.6042vw;
    }

    .img {
      height: 35.8073vw;

      &::before {
        #{$end-direction}: 2.3438vw;
        height: 1.0417vw;
        width: 5.9896vw;
        bottom: 2.3438vw;
      }
    }
  }
  .knowledge__top {
    .left {
      width: 100%;

      padding-top: 5.5990vw;

      span {
        font-size: 5.9896vw;
      }

      p {
        margin-top: 3.6458vw;
        font-size: 2.3438vw;
        max-width: 76.6771vw;
      }
    }

    .right {
      width: 19.9219vw;
      height: 17.7083vw;
      padding-bottom: 3.2552vw;
      box-sizing: border-box;

      .container-right {
        padding-#{$end-direction}: 20px;
        padding-bottom: 0;
      }
    }
  }


  .container {
    width: 100%;
    max-width: none;
    padding: 0 20px;
    //padding: 0 5.3333vw;
    box-sizing: border-box;
  }
  .header {
    &.scroll {
      .header-top__container {
        background: rgba(255, 255, 255, 0);
        padding: 4.8000vw 0;
        //padding-#{$end-direction}: 4.2969vw;
        //padding-#{$start-direction}: 6.6406vw;
      }

      .header-menu__content {
        padding: 4.8000vw 0;
      }
    }
  }
  .header-top {
    background: #49728A;
  }
  .header-logo {
    width: 33.3333vw;
    height: 13.3333vw;
    margin-top: 0;
  }
  .light-plugin {
    width: 13.3333vw;
    height: 13.3333vw;
    background: rgba(255, 255, 255, 0);
    border: none;

    svg {
      width: 6.4000vw;
      height: 6.4000vw;
    }

    &.mob-only {
      position: static;
      bottom: auto;
      #{$end-direction}: auto;
    }
  }
  .burger-btn {
    width: 13.3333vw;
    height: 13.3333vw;
    margin-#{$start-direction}: 4.2667vw;

    span {
      width: 4.8000vw;
      margin-bottom: 1.6000vw;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .header__search {
    margin-#{$start-direction}: 2.1333vw;

    input {
      width: 55.2000vw;
      height: 13.3333vw;
      padding-#{$start-direction}: 2.4000vw;
      font-size: 5.3333vw;

      &::placeholder {
        font-size: 5.3333vw;
      }
    }
  }
  .desk-only {
    display: none;
  }
  .header-menu__content {
    position: relative;
    padding: 4.8000vw 0;
    box-sizing: border-box;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .header__search {
    position: absolute;
    top: 4.8000vw;
    #{$end-direction}: 17.6vw;
  }
  main {
    margin-top: 22.9133vw;
  }
  .mob-only {
    display: flex;
  }
  .menu-list {
    position: relative;
    margin-top: 10.9333vw;

    &.mobile-only {
      .menu-list__go-back-mob {
        display: flex;
      }

      > ul {

        > li {
          opacity: 0;
          pointer-events: none;

          &.menu-item-has-children {
            opacity: 1;

            > a {
              opacity: 0;
              pointer-events: none;
            }
          }
        }

        .sub-menu {

        }
      }
    }

    > ul {
      .sub-menu {
        position: absolute;
        top: 0;
        #{$start-direction}: 0;
        margin-#{$start-direction}: 0;
      }

      li {
        margin-bottom: 6.3333vw;

        &.menu-item-has-children {

          > a {
            &.open {
              & + .sub-menu {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
              }
            }

            &:hover {
              svg {
                path {
                  fill: #FD7615;
                }
              }
            }
          }
        }

        a {
          font-size: 8.0000vw;

          svg {
            width: 6.4000vw;
            height: 2.6667vw;
            margin-#{$start-direction}: 7.2000vw;
            transform: translate(0, 1.0667vw) matrix(-$transform-direction, 0, 0, 1, 0, 0);

          }
        }
      }
    }
  }
  .close-menu {
    width: 13.3333vw;
    height: 13.3333vw;
    align-self: flex-end;
    margin-#{$start-direction}: 4.2667vw;

    &::before, &::after {
      width: 8.0000vw;
      height: 0.5333vw;
      border-radius: 0.5333vw;
    }
  }
  .header__lang {
    width: 26.9333vw;
    height: 13.3333vw;
    display: none;

    span {
      font-size: 4.8000vw;
      line-height: 6.4000vw;

      &::#{$pseudo} {
        width: 1.8667vw;
        height: 1.8667vw;
        margin-left: 3.2000vw;
        transform: translate(0, -0.5333vw) rotate(135deg);
      }
    }

    ul {
      li {
        height: 13.3333vw;

        a {
          font-size: 4.8000vw;
          line-height: 6.4000vw;
        }
      }
    }
  }
  .header__search-btn {
    width: 13.3333vw;
    height: 13.3333vw;

    img {
      width: 4.8000vw;
      height: 4.8000vw;
    }
  }
  .menu-list__go-back-mob {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 6.9333vw;
    line-height: 9.0667vw;
    display: none;
    align-items: center;
    position: absolute;
    bottom: calc(100% + 9.0667vw);
    #{$start-direction}: 0;

    color: #FD7615;

    svg {
      width: 8.0000vw;
      height: 3.2000vw;
      margin-#{$end-direction}: 4.0000vw;
      transform: translate(0, 0.2083vw) matrix($transform-direction, 0, 0, 1, 0, 0);

      path {
        fill: #FD7615;
      }
    }
  }
  .header-top__container {
    background: rgba(255, 255, 255, 0);
    padding: 4.8000vw 0;
    padding-#{$end-direction}: 0;
    padding-#{$start-direction}: 0;
  }
  .header-logo {
    .home-link {
      opacity: 0;

      &--scroll {
        opacity: 1;
      }
    }
  }
  .news.news--no-btn {
    margin-bottom: 7.2917vw;
  }
  .news.news--no-btn .swiper-controls {
    transform: translate(0, 115%);

  }
}

@media screen and (max-width: 768px) {
  .home-hero_container {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 4.0000vw;
    box-sizing: border-box;
    padding-top: 19.7333vw;
    margin-top: 0;
  }
  .home-hero__text {
    .text {
      margin-bottom: 21.3333vw;

      p {
        font-size: 5.8667vw;
      }

      span {
        font-size: 8.0000vw;
      }
    }
  }
  .home-logo {
    width: 49.0667vw;
    height: 19.4667vw;
    margin-bottom: 2.6667vw;
  }
  .home-hero__bottom {
    p {
      font-size: 5.3333vw;
      line-height: 6.9333vw;
    }
  }
  .home-select-lang {
    margin-top: 2.6563vw;
    margin-bottom: 6.2500vw;
    flex-direction: column-reverse;
    align-items: center;

    a {
      width: 22.8125vw;
      margin-right: 0;
      height: 7.8125vw;
      font-size: 2.8125vw;
      line-height: 3.7500vw;
      margin-bottom: 2.6563vw;

      &:first-child {
        margin-bottom: 0;
      }
    }
  }
  .home-socials {
    a {
      width: 4.3750vw;
      height: 4.3750vw;
      margin-right: 1.7188vw;
    }
  }
  .home-letter {
    position: absolute;
    pointer-events: none;

    &-1 {

      display: none;
    }

    &-2 {
      height: 21.0667vw;
      width: 6.6667vw;
      top: 5.8667vw;
      right: 4.0000vw;
    }

    &-3 {
      display: none;
    }

    &-4 {
      width: 26.4000vw;
      height: 33.6000vw;
      //bottom: 3.2000vw;
      top: 141.0667vw;
      left: 2.6667vw;
    }
  }
  .home-hero-slider {
    display: block;
    width: 100%;
    padding: 0 4.8438vw;
    box-sizing: border-box;
    margin-top: 7.0313vw;
  }
}

@media screen and (max-width: 767px) {
  .menu-list > ul li {
    margin-bottom: 13.3333vw;
  }
}

@media screen and (max-width: 525px) {
  .news.news--no-btn {
    margin-bottom: 14.9333vw;
  }
  .news.news--no-btn .swiper-controls {
    transform: translate(0, 115%);

  }
  .text-section--little .section-text {
    padding-bottom: 16.0000vw;
  }
  .news-blocks .partners-single .text ul li {
    font-size: 3.7333vw;
  }
  .bg-lines-cont {
    .container {
      padding: 0;
      max-width: 33.3333vw;

    }
  }
  .footer-socials {
    margin-top: 5.3333vw;

    a {
      width: 6.6667vw;
      height: 6.6667vw;
      margin-#{$end-direction}: 2.6667vw;
    }
  }
  .modal-position .modal-container {
    height: 100%;
    max-width: 100%;
    margin: 0;

    .container {
    }

    .modal-content {
      height: auto;
    }

  }
  .modal-pos__head {
    padding: 9.8667vw 20px 9.6000vw;

    span {
      font-size: 7.4667vw;
      line-height: 9.8667vw;
      margin-bottom: 3px;
    }

    p {
      font-size: 4.8000vw;
    }
  }
  .modal-pos__content {
    flex-direction: column;

    .block {
      padding: 9.3333vw 5.8667vw;
    }

    form {
      width: 100%;
      margin: 0;

      .btn {
        height: 13.3333vw;
      }

      input, label.file-upload {
        height: 13.3333vw;
        margin-bottom: 2.6667vw;
        padding-#{$end-direction}: 6.1333vw;
        padding-#{$start-direction}: 6.1333vw;
        font-size: 4.2667vw;

        &::placeholder {
          font-size: 4.2667vw;
        }
      }
    }

    .img {
      width: 100%;
      height: 0;
      padding-top: 100%;
      box-sizing: border-box;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .modal-content {
    padding: 11.4667vw 5.8667vw;
  }
  .modal-info {
    flex-direction: column;

    .title {
      margin-bottom: 23px;

      img {
        height: 10.9333vw;
        margin-#{$end-direction}: 5.8667vw;
      }

      span {
        font-size: 5.8667vw;
        line-height: 7.7333vw;
      }
    }

    .text {
      width: 100%;

      p {
        font-size: 4.8000vw;
        max-width: none;
        margin-bottom: 7.4667vw;
      }
    }

    .btn.btn--line.btn--line--orange {
      margin-#{$start-direction}: 4.4vw;
      margin-top: 35px;
    }

    .name {
      margin-top: 16.0000vw;
      margin-bottom: 7.7333vw;

      span {
        font-size: 5.8667vw;
        line-height: 7.7333vw;
      }
    }

    .list {

    }

    .item {
      width: 88.2667vw;
      margin-bottom: 35px;

      .img {
        height: 88.2667vw;
        margin-bottom: 16px;
      }
    }

    .info {
      p {
        font-size: 5.3333vw;
        line-height: 7.7333vw;
      }

      ul {
        margin-top: 4px;

        li {
          font-size: 4.2667vw;
          line-height: 6.1333vw;
        }
      }
    }

    .content {
      width: 100%;
      margin: 0;
      padding-#{$start-direction}: 30px;
    }

    .left {
      width: 100%;
      margin: 0;
      max-width: none;
    }
  }
  .map-container {
    bottom: 233.8667vw;
    top: auto;
    left: -70.4000vw;
    width: 182.1333vw;
    height: 117.3333vw;
  }

  .form-footer {
    margin-top: 5.3333vw;
    flex-direction: column;


  }
  .form-checkbox span {
    font-size: 4.2667vw;
    max-width: 80.0000vw;

    &::before {
      width: 5.3333vw;
      margin-top: 4px;
      align-self: flex-start;
      flex-shrink: 0;
      height: 5.3333vw;
      margin-#{$end-direction}: 3.4667vw;
    }
  }

  .form-checkbox input:checked + span::before {
    background-size: 3.7333vw;
  }
  .form-footer .btn.btn--no {
    width: 61.0667vw;
    margin: 9.3333vw auto 0;
  }

  .contact-us__form {
    margin-top: 149.8667vw;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;

    padding: 12.0000vw 5.3333vw 14.6667vw;

    .title {
      span {
        font-size: 5.8667vw;
        line-height: 7.7333vw;
        margin-bottom: 1.8667vw;
      }

      p {
        font-size: 4.8000vw;
      }
    }

    form {
      margin-top: 10.6667vw;
      width: 100%;

      input {
        height: 13.3333vw;
        width: 100%;
        margin-bottom: 6.6667vw;
        padding-#{$start-direction}: 6.1333vw;
        font-size: 4.2667vw;

        &::placeholder {
          font-size: 4.2667vw;
        }
      }

      textarea {
        font-size: 4.2667vw;
        height: 55.2000vw;
        padding-#{$start-direction}: 6.1333vw;

        &::placeholder {
          font-size: 4.2667vw;
        }
      }
    }

  }
  .contacts-us__content .title {
    span {
      font-size: 9.6000vw;
      margin-bottom: 6.6667vw;
    }

    p {
      font-size: 4.8000vw;
      max-width: 75.4667vw;
    }
  }
  .contact-us__tabs {
    margin-top: 6.9333vw;
  }
  .contact-us__single-tab {
    padding-#{$start-direction}: 9.6000vw;

    p {
      font-size: 4.8000vw;
      margin-bottom: 0.6000vw;

      strong {

      }
    }

    &::before {
      top: 0.8vw;
      width: 4.8000vw;
      height: 5.8667vw;
    }

  }

  .results-list {
    & > span {
      display: none;
    }

    .header__search {
      width: 100%;
      position: static;
      margin-bottom: 10.4167vw;

      input {
        height: 11.7333vw;
        font-size: 5.3333vw;
        flex-grow: 1;
        width: auto;

        &::placeholder {
          font-size: 5.3333vw;
        }
      }
    }

    .header__search-btn {
      height: 11.7333vw;
      width: 11.7333vw;

      img {
        width: 4.0000vw;
        height: 4.0000vw;
      }
    }
  }
  .single-result {
    margin-top: 11.7333vw;

    .btn {
      max-width: none;
      padding: 0 8.0000vw;
      margin-top: 8.0000vw;
    }

    span {
      font-size: 5.8667vw;
      margin-bottom: 4.0000vw;
    }

    p {
      font-size: 5.3333vw;
      max-width: none;
    }
  }

  .hero-bg__block.js-slider.js-slider--soc {
    max-width: none;

    .slider-cont {
      #{$end-direction}: 20px;
      bottom: 45.3333vw;
      #{$start-direction}: auto;
    }
  }
  .pos-soc-link {
    bottom: -11.4667vw;
    width: 75.4667vw;
    height: 26.6667vw;
    font-size: 4.8000vw;
  }
  .section-text .side {
    position: static;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding: 50px 23px 100px;

    span {
      font-size: 5.3333vw;
      margin-bottom: 5.8667vw;
    }

    ul {
      margin-bottom: 5.3333vw;

      li {
        font-size: 4.8000vw;
        max-width: none;
        margin-bottom: 1.8667vw;
      }
    }

    em {
      font-size: 4.8000vw;
      margin-top: 4.8000vw;
    }

    p {
      font-size: 4.8000vw;
    }
  }
  .text-section--social .section-text .title span {
    max-width: 70vw;
  }
  .single-work {
    width: 82.6667vw;
    margin-bottom: 60px;

    .text {
      padding: 6.6667vw 3.7333vw;

      span {
        font-size: 6.4000vw;
        line-height: 8.2667vw;
        max-width: 50.4000vw;
        margin-bottom: 2.9333vw;
      }

      ul {
        li {
          font-size: 4.2667vw;
          line-height: 5.6000vw;
          padding-#{$end-direction}: 15px;
          margin-#{$end-direction}: 15px;
        }
      }

      p {
        margin-top: 4.5333vw;
        height: 7.4667vw;
        padding: 0 2.9333vw;
        font-size: 4.2667vw;
        line-height: 5.6000vw;
      }
    }

    margin-#{$end-direction}: 0;

    &:nth-child(3n) {
      margin-#{$end-direction}: 0;
    }

    &:nth-child(even) {
      margin-#{$end-direction}: 0;
    }
  }
  .news-blocks, .text-section--media .news-blocks {
    margin-top: 45.3333vw;
  }
  .pagination-container {
    max-width: none;
    margin-top: 71px;
  }

  .pagination {
    ul {
      li {
        display: none;

        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:last-child {
          display: flex;
          width: 43px;
          height: 43px;

          a, span {
            font-size: 16px;
            line-height: 21px;
          }

        }

        &:first-child, &:last-child {
          &::after {
            width: 8px;
            height: 8px;
          }
        }
      }
    }
  }
  .news-blocks .partners-single {
    width: 82.6667vw;
    margin-#{$start-direction}: 0;
    margin-#{$end-direction}: 0;
    margin-bottom: 60px;

    &:nth-child(3n+1) {
      margin-#{$start-direction}: 0;
    }

    &:nth-child(odd) {
      margin-#{$start-direction}: 0;
    }

    .img {
      height: 53.3333vw;
      margin-bottom: 30px;
    }

    .text {
      padding: 0;

      span {
        font-size: 5.8667vw;
        line-height: 7.7333vw;
        margin-bottom: 4.4667vw;
        max-width: 69.3333vw;
      }
    }
  }

  .text-section--media .section-text {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;

    .title {
      span {
        max-width: none;
      }
    }
  }
  .section-text__filter {
    #{$end-direction}: 20px;
    top: 36.8000vw;
  }

  .nice-select {
    width: 82.6667vw;

    .current {
      height: 23.2000vw;

      padding: 0 8.8000vw;
      font-size: 5.3333vw;

      &::after {
        width: 12px;
        height: 6px;
      }
    }

    ul {
      background: white;
      z-index: 2;

      li {
        height: 18.6667vw;
        font-size: 5.3333vw;
        padding: 0 8.8000vw;
        line-height: 6.9333vw;
      }
    }
  }
  .personal-container {
    padding-top: 0;
    padding-bottom: 45px;

    .partners-list {
      margin-top: 60px;
      padding: 0;
      justify-content: space-between;

      .partners-single {
        width: 40.8000vw;
        margin: 0;
        margin-bottom: 14.3667vw;


        margin-#{$end-direction}: 0;

        .img {
          height: 40.8000vw;
        }

        .text {
          span {
            font-size: 5.8667vw;
            line-height: 8.5333vw;
          }

          ul {
            li {
              padding: 0;
              padding-#{$end-direction}: 10px;
              margin-#{$end-direction}: 4px;
            }
          }
        }
      }
    }
  }
  .partners-list {
    justify-content: center;
  }
  .partners-single {
    width: 71.4667vw;
    margin: 0;
    margin-bottom: 13.3333vw;

    .img {
      height: 71.4667vw;
      margin-bottom: 4.0000vw;
    }

    .text {
      span {
        font-size: 7.4667vw;
        line-height: 10.9333vw;
        margin-bottom: 1.8667vw;
      }

      ul {
        li {
          font-size: 4.2667vw;
          line-height: 6.1333vw;
          padding: 0 10px;

          &::after {
            width: 4px;
            height: 4px;
          }
        }
      }
    }
  }
  .about-text__single {
    width: 100%;
    margin-bottom: 16.0000vw;

    &:last-child {
      margin-bottom: 0;
    }

    padding-#{$end-direction}: 0;
    padding-#{$start-direction}: 20px;

    &::before {
      height: 117px;
    }

    span {
      font-size: 12.2667vw;
      margin-bottom: 8.0000vw;
    }

    p {
      font-size: 4.8000vw;
    }
  }
  .contacts-info-text {
    top: calc(100% + 23.4667vw);
    #{$end-direction}: auto;
    margin-top: 23.4667vw;
    #{$start-direction}: 0;
    padding-#{$start-direction}: 20px;

    span {
      font-size: 4.2667vw;
      line-height: 6.1333vw;
      margin-bottom: 3.4667vw;
    }

    a, p {
      font-size: 4.8000vw;
      margin-bottom: 2.9333vw;

      &::before {
        width: 4.0000vw;
        height: 4.0000vw;
        margin-#{$end-direction}: 4.0000vw;
      }
    }
  }
  .section-text {
    padding: 12.0000vw 20px;

    &--bordered {
      padding-bottom: 17.6000vw;

      .person-sign {
        #{$end-direction}: 0;
        bottom: -10.4000vw;
        width: 62.9333vw;
        height: 22.4000vw;
      }
    }

    > .text {
      margin-bottom: 8.0000vw;

      p {
        font-size: 4.8000vw;
      }

      em {
        margin-top: 8.0000vw;
        font-size: 4.8000vw;
      }

      span {
        font-size: 4.2667vw;
        line-height: 5.6000vw;
        margin-bottom: 2.1333vw;
      }

      ul {
        li {
          padding-#{$start-direction}: 8.0000vw;
          font-size: 4.8000vw;
          margin-bottom: 2.1333vw;

          &::before {
            top: 4.2667vw;
          }
        }
      }
    }

    .title {
      margin-bottom: 6.8vw;

      span {
        font-size: 9.6000vw;
        max-width: 48.0000vw;

      }

      p {
        margin-top: 2.4000vw;
        font-size: 4.8000vw;
      }
    }
  }
  .breadcrumbs {
    margin-bottom: 3.7333vw;

    li {
      margin-#{$end-direction}: 2.6667vw;

      a, span {
        color: #FFFFFF;
        font-size: 3.7333vw;
        line-height: 4.8000vw;
        border-color: $white;
      }

      a {
        padding-#{$end-direction}: 2.6667vw;
      }

    }
  }
  main.not-home-page {
    padding-top: 47.4667vw;

    .hero-block {
      height: 96.5333vw;

      .container {
        padding: 0;
      }

    }

    .hero-bg__block.min-img {
      max-width: 100%;

      &:before {
        height: 58.9333vw;
      }
    }

    .hero-bg__block.big-img {
      max-width: 100%;

      &::before {
        display: inline-block;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 58.9333vw;
        background: linear-gradient(180.96deg, rgba(0, 2, 3, 0.92) -54.96%, rgba(0, 10, 20, 0) 90.93%);
        mix-blend-mode: normal;
        content: '';
      }
    }
  }
  //footer
  .footer__top {
    padding-top: 15.4667vw;
    padding-bottom: 26.6667vw;
  }
  .footer-logo {
    width: 33.3333vw;
    height: 13.3333vw;
    margin-bottom: 20.0000vw;
  }
  .footer-menus {
    flex-direction: column;
  }
  .footer-menu {
    width: 100%;
    margin-bottom: 11.7333vw;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      font-size: 5.3333vw;
      line-height: 6.9333vw;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &::after {
        width: 2.4000vw;
        height: 4.2667vw;
        background: url("../img/arr-fot-mob.svg") no-repeat center;
        background-size: 100%;
        display: inline-block;
        content: '';
        transform: matrix(-$transform-direction, 0, 0, 1, 0, 0);
      }

      &.open {
        &::after {
          transform: matrix($transform-direction, 0, 0, 1, 0, 0);
        }

        & + ul {
          display: flex;
        }
      }
    }

    ul {
      display: none;
      margin-top: 0;
      padding-top: 3.9999vw;

      li {
        margin-bottom: 5.3334vw;

        &.footer-loc img {
          height: 3.9999vw;
          margin-#{$end-direction}: 2.6667vw;
        }

        &.footer-tel img {
          height: 3.9999vw;
          margin-#{$end-direction}: 2.6667vw;
        }

        &.footer-email img {
          height: 3.4667vw;
          margin-#{$end-direction}: 2.6667vw;
        }

        a, p {
          font-size: 4.2666vw;
        }
      }
    }
  }


  .footer__bottom {
    padding-top: 9.3334vw;
    padding-bottom: 14.4001vw;
  }
  .footer-copy {
    .img {
      width: 14.1332vw;
      height: 3.9999vw;
      margin-#{$start-direction}: 1.6001vw;
    }

    p {
      font-size: 4.2666vw;

      img {
        width: 3.9999vw;
        height: 3.9999vw;
        margin: 0 1.8668vw;
      }
    }
  }

  //footer
  //from 992p
  .text-under-slider {
    margin-top: 26.9332vw;
  }
  .text-slides {
    max-width: none;
    width: 100%;
    @for $i from 1 through 9 {
      &.text-slides--#{$i} {
        transform: translate(calc(-1 * (#{$transform-direction} * (#{$i} * 76.5333vw))), 0);
      }
    }
  }
  .single-text-slide {
    flex-direction: column;
    width: 76.5333vw;
    padding-#{$end-direction}: 3.4667vw;

    p {
      font-size: 5.3334vw;
      max-width: 70.6667vw;
    }

    span {
      font-size: 17.3332vw;
    }
  }
  main {
    padding-top: 154.9332vw;
  }
  .hero-block {
    height: 154.9332vw;
  }

  .hero-btn {
    bottom: 23.7332vw;
    #{$end-direction}: 52.5333vw;
    z-index: 4;
  }
  .btn.btn--line {
    width: 37.3334vw;
    height: 13.3333vw;
    font-size: 4.8001vw;

    &::after {
      width: 8.0001vw;
      #{$end-direction}: calc(100% - 3.3280vw);
    }
  }
  .single-slide {
    .text {
      #{$end-direction}: auto;
      #{$start-direction}: 0;
      width: 88.8001vw;
      #{$start-direction}: -23.4667vw;
      height: 66.6667vw;
      bottom: 17.0666vw;
      padding: 6.9333vw 20px 6.9333vw 1.8667vw;

      &.text--gold {
        justify-content: flex-start;
      }

      p {
        font-size: 9.8666vw;
      }
    }
  }
  .hero-bg__block.js-slider, .hero-bg__block.big-img {
    max-width: 76.5333vw;
  }
  .container-left {
    padding-#{$start-direction}: 20px;
  }
  .hero-bg {
    .container {
      padding-#{$end-direction}: 0;
    }
  }
  .container {
    padding: 0 20px;
  }
  .swiper-arrow {
    width: 7.2917vw;
    height: 7.2917vw;

    &::after {
      width: 1.5625vw;
      height: 1.5625vw;
    }
  }
  .container-sec {
    max-width: none;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .values {
    margin-top: 26.9332vw;

    span {
      font-size: 9.0667vw;
    }

    p {
      margin-top: 6.9333vw;
      font-size: 9.3334vw;
    }
  }
  .news {
    margin-top: 26.9332vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .news-aside, .partners-aside, .personal-aside {
    position: static;
    order: 1;
    height: 26.6666vw;
    width: 53.3334vw;
    padding: 2.6667vw 5.3334vw;
    margin-bottom: 3.2000vw;

    .text {
      transform: none;
      width: 100%;
      height: 100%;
      position: static;
      padding-top: 0;
      align-items: flex-end;
      justify-content: flex-end;
    }

    p {
      position: static;
      transform: none;
      font-size: 8.0001vw;
    }
  }
  .partners-aside {
    height: 26.6667vw;
    width: 50.6667vw;
  }
  .personal-aside {
    height: 26.6667vw;
    width: 50.6667vw
  }
  .news-container {
    order: 2;
    padding: 0;
  }
  .single-news {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;

    > .btn {
      order: 3;
      margin-top: 3.4666vw;
    }
  }
  .mailing {
    margin: 100px 0 0;

    .container {
      padding: 0;
    }
  }
  .mailing-container {
    padding: 16.7999vw 5.3334vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    > p {
      font-size: 8.0001vw;
      line-height: 10.3999vw;
      margin-bottom: 10.6666vw;

      &::after {
        width: 19.9999vw;
        height: 2.4001vw;
        margin-#{$start-direction}: 10.6666vw;
      }
    }
  }
  .mailing-form {
    input {
      width: 62.4001vw;
      height: 13.3333vw;
      font-size: 4.8001vw;
      border-#{$end-direction}: none;
      padding-#{$start-direction}: 5.6001vw;

      &::placeholder {
        font-size: 4.8001vw;
      }
    }
  }
  .btn.btn--no {
    width: 25.6000vw;
    height: 13.3333vw;
    font-size: 4.8001vw;
  }
  .video-block {
    width: 100%;
    height: 60.2667vw;

    &::before {
      width: 10.6667vw;
      height: 10.6667vw;
    }

    &::after {
      background: linear-gradient(0deg, rgba(214, 78, 0, 0.78) 19.17%, rgba(0, 0, 0, 0) 125.24%);

    }
  }
  .news-video {
    order: 1;
  }
  .news-banner {
    order: 2;
    position: static;
    width: calc(100% - 20px);
    margin-top: -6.4000vw;
    padding: 8.5334vw 6.1334vw 13.0666vw 8.0001vw;

    .date {
      font-size: 4.2666vw;
      margin-bottom: 8.0001vw;
    }

    p {
      font-size: 4.8001vw;
      margin-bottom: 8.0001vw;
      max-width: none;
    }

    span {
      font-size: 6.9333vw;
      line-height: 9.0667vw;
      margin-bottom: 6.6666vw;
    }

    .btn {

      margin-#{$start-direction}: 5.0668vw;
    }
  }
  .news .swiper-controls {
    z-index: 4;
    #{$end-direction}: 5.3334vw;
  }
  .btn.btn--line.btn--line--orange {
    width: 37.3334vw;
    margin-#{$start-direction}: 10.6666vw;
  }
  .knowledge {
    margin-top: 30.1332vw;
  }
  .knowledge__bottom {
    margin-top: 9.3334vw;
    margin-bottom: 13.8666vw;
  }
  .knowledge-list {
    @for $i from 1 through 12 {
      &.knowledge-list--#{$i} {
        transform: translate(calc(-1 * (#{$transform-direction} * (#{$i} * 73.6vw))), 0);
      }
    }
  }
  .single-knowledge {
    width: 60.2667vw;
    padding-bottom: 13.3333vw;
    margin-#{$end-direction}: 13.3333vw;
    padding-#{$start-direction}: 6.4000vw;

    .icon {
      height: 9.0667vw;
      margin-bottom: 4.5332vw;
    }

    p {
      margin-bottom: 8.5334vw;
      font-size: 5.3334vw;
    }

    .img {
      height: 73.3334vw;

      &::before {
        #{$end-direction}: 4.8001vw;
        height: 2.1334vw;
        width: 12.2667vw;
        bottom: 4.8001vw;
      }
    }
  }
  .container-left {
    padding: 0 20px;
  }
  .knowledge__top {
    .left {
      width: 100%;

      padding-top: 5.5990vw;

      span {
        font-size: 12.2667vw;
        max-width: 41.0667vw;
        display: inline-block;
      }

      p {
        margin-top: 7.4666vw;
        font-size: 4.8001vw;
        max-width: none;
        width: 100%;
      }
    }

    .right {
      width: 19.9219vw;
      height: 17.7083vw;
      padding-bottom: 6.6666vw;
      box-sizing: border-box;

      .container-right {
        padding-#{$end-direction}: 20px;
        padding-bottom: 0;
      }
    }
  }

  //from 992p
  .swiper-arrow {
    width: 14.9333vw;
    height: 14.9333vw;

    &::after {
      width: 3.2000vw;
      height: 3.2000vw;
    }
  }
  .knowledge__top {
    .left {
      width: 100%;

      padding-top: 11.4667vw;
    }

    .right {
      width: 40.8000vw;
      height: 36.2667vw;

      .container-right {
        padding-#{$end-direction}: 5.3333vw;
        padding-bottom: 0;
      }
    }
  }

  .home-hero-slider {
    padding: 0 8.2667vw;
    margin-top: 12.0000vw;
  }
  .home-select-lang {
    margin-top: 4.5333vw;
    margin-bottom: 10.6667vw;
    flex-direction: column-reverse;

    a {
      width: 38.9333vw;
      margin-right: 0;
      height: 13.3333vw;
      font-size: 4.8000vw;
      line-height: 6.4000vw;
      margin-bottom: 4.5333vw;

      &:first-child {
        margin-bottom: 0;
      }
    }
  }
  .home-socials {
    a {
      width: 7.4667vw;
      height: 7.4667vw;
      margin-right: 2.9333vw;
    }
  }
}

@media screen and (max-width: 360px) {
  .menu-list {
    > ul {
      li {
        margin-bottom: 10.3333vw;
      }
    }
  }
}